<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>    
            <dt class="col-sm-4">Review</dt>
        <dl class="dl-horizontal col-sm-8">        
            <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Username</th>
                <th scope="col">Rating</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
          <% @ratings.each do |item| %>
            <tr>
              <th scope="row"></th>
              <td><%= item.user.name %></td>
              <td><%= item.rating %></td>
              <td><%= item.description %></td>
              <td>
          <% if current_user and current_user.id == item.user.id %>
          <%= link_to fa_icon('trash'), [@product, @rating], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
          </td>
            </tr>
            <% end %>          
            </tbody>
        </table>

        </dl>
    </div>
    <% if current_user %>
    <%= render 'form' %>
    <% end %>

  </div>
</article>


</section>
